body.dark {
  background: linear-gradient(-45deg,#020617,#020024,#000,#021b10);
  background-size:400% 400%;
  animation:bgMove 15s ease infinite;
  color:#22c55e;
}

body.light {
  background: linear-gradient(-45deg,#f8fafc,#e2e8f0,#fff,#f1f5f9);
  background-size:400% 400%;
  animation:bgMove 15s ease infinite;
  color:#020617;
}

@keyframes bgMove{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

.glow{ text-shadow:0 0 8px #22c55e,0 0 16px #22c55e }

.card{
background:rgba(2,6,23,.85);
border:1px solid rgba(34,197,94,.3);
backdrop-filter:blur(10px);
transition:.4s;
animation:float 6s ease-in-out infinite;
}
/* JMk69{what_are_you */
.card:hover{
transform:translateY(-8px) scale(1.02);
box-shadow:0 0 25px rgba(34,197,94,.4);
}

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-6px)}
100%{transform:translateY(0)}
}

body.light .card{
background:white;
border:1px solid #cbd5e1;
}

.terminal{background:black;color:#22c55e;font-family:monospace}

.cursor::after{
content:"▋";
animation:blink 1s infinite;
}

@keyframes blink{50%{opacity:0}}

.glitch{position:relative}
.glitch::before,.glitch::after{
content:attr(data-text);
position:absolute;
left:0;
}
.glitch::before{animation:glitch 2s infinite;color:#22c55e;top:-1px}
.glitch::after{animation:glitch 1.5s infinite;color:#16a34a;top:1px}


@keyframes glitch{
0%{clip-path:inset(0 0 90% 0)}
50%{clip-path:inset(40% 0 40% 0)}
100%{clip-path:inset(80% 0 0 0)}
}
